.header {
    background-color: #282c34; 
    padding: 10px 10%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.logo {
    color: #61dafb; 
    font-size: 24px; 
    font-weight: bold; 
}

.authContainer {
    display: flex;
    align-items: center;
}

.authContainer > * {
    margin-left: 20px; 
}

