.list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.listItem {
  display: flex;
  flex-direction: column;
}

.authorTitle {
  margin-right: 10px;
}
.authorName,
.authorTitle {
  font-weight: bold;
}
.reviewWrapper {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 30px;
  font-size: 13px;
  line-height: 20px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.reviewContent {
  width: 90%;
  height: 50%;
}
