.list {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 15px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 5px;
    margin-bottom: 10px; 
    transition: background-color 0.3s; 
}

.list:hover {
    background-color: #f1f1f1; 
}

.textContainer {
    display: flex; 
    flex-direction: column; 
}

.contactInfo {
    display: flex; 
    align-items: center;
}

.icon {
    margin-right: 8px; 
    color: #61dafb; 
}
.deleteButton {
    background-color: #ff4757; 
    color: white; 
    border: none; 
    padding: 8px 12px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.deleteButton:hover {
    background-color: #ff6b81; 
}
